{% extends 'main/layout.html' %}
{% load static %}

{% block head %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/DrawSVGPlugin3.min.js"></script>


    <link rel="stylesheet" href="{% static 'tinkoffapp/css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'tinkoffapp/css/tinkoff.css' %}">
    <link rel="stylesheet" href="{% static 'tinkoffapp/css/Cat.css' %}">
    <link rel="stylesheet" href="{% static 'tinkoffapp/css/Donut.css' %}">
{% endblock %}

{% block title %}
    Тинькофф Инвестиции
{% endblock %}

{% block menu %}
	{% include 'main/menu.html' %}
{% endblock %}

{% block content %}
    <div id="TinkoffInfo">
        <h1>Тинькофф Инвестиции</h1>
        <h2>Общая стоимость портфеля: {{ total_amount_portfolio }}</h2>

          <table class="table-fill">
            <tbody class="table-hover">
              <tr>
                <td>
                  <a id = 'total_shares_cost' href="{% url 'shares' %}"> <h2>Общая стоимость акций в портфеле:</h2></a>
                </td>
                <td>
                  <h3 class="inf">{{ total_amount_shares }}</h3><p class="yield"> {{ TotalShareYield }}</p>
                </td>
              </tr>

            <tr>
                <td>
                  <a id = 'total_bonds_cost' href="{% url 'bonds' %}"><h2>Общая стоимость облигаций в портфеле:</h2></a>
                </td>
                <td>
                  <h3 class="inf">{{ total_amount_bonds }}</h3><p class="yield"> {{ TotalBondYield }}</p>
                </td>
              </tr>

            <tr>
                <td>
                  <a id = 'total_etf_cost' href="{% url 'etf' %}"><h2>Общая стоимость фондов в портфеле:</h2></a>
                </td>
                <td>
                  <h3 class="inf">{{ total_amount_etf }}</h3><p class="yield"> {{ TotalETFYield }}</p>
                </td>
              </tr>

            <tr>
                <td>
                  <a id = 'total_currency_cost' href="{% url 'currency' %}"><h2>Общая стоимость валют в портфеле:</h2></a>
                </td>
                <td>
                  <h3 class="inf">{{ total_amount_currencies }}</h3><p class="yield"> {{ TotalCurrYield }}</p>
                </td>
              </tr>
            </tbody>
          </table>
      <div class="total">
        <div class="total_item">
          <h3>Общая прибль:</h3><h3 class="total_item" id="tot_yield">{{ TotalYield }}</h3>
        </div>
        <h3 class="total_item">Свободные рубли: {{ FreeRub }}</h3>
      </div>
    </div>


<div class="wrapper">
  <div class="pie-charts">
    <div class="pieID--actives pie-chart--wrapper">
      <div class="pie-chart">
        <h1>Активы</h1>
        <div class="pie-chart__pie"></div>
        <ul class="pie-chart__legend">
          {% for el in ActivesList %}
          <li><em>{{ el.selection_field }}</em><span>{{ el.amount }}</span></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>



  <div class="pie-charts">
    <div class="pieID--companies pie-chart--wrapper">
      <div class="pie-chart">
        <h1>Компании</h1>
        <div class="pie-chart__pie"></div>
        <ul class="pie-chart__legend">
          {% for el in CompaniesList %}
          <li><em>{{ el.selection_field }}</em><span>{{ el.amount }}</span></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>



  <div class="pie-charts">
    <div class="pieID--sectors pie-chart--wrapper">
      <div class="pie-chart">
        <h1>Сектора экономики</h1>
        <div class="pie-chart__pie"></div>
        <ul class="pie-chart__legend">
          {% for el in SectorsList %}
          <li><em>{{ el.selection_field }}</em><span>{{ el.amount }}</span></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


<!--KOT-->
{% include 'tinkoffapp/KOT.html' %}
<!--KOT-->
{% endblock %}

{% block script %}
<script src="{% static 'tinkoffapp/js/cat.js' %}"></script>
<script src="{% static 'tinkoffapp/js/yieldcolor.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'tinkoffapp/js/donut.js' %}"></script>
{% endblock %}